<footer class="fixed-bottom bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center" style="background-color: rgba(0, 0, 0, 0.2);">
    Copyright © 2022
  </div>
  <!-- Copyright -->
</footer>